# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user.*
*.moc
qrc_*.cpp
moc_*.cpp
moc_*.h
*build-*
*creator.user*
*.qmlc
*.jsc
Makefile*
*.qbs.user
*.qbs.user.*
/.qmake.cache
/.qmake.stash
*.autosave
